img {
    width:500px;
    }
body {
    text-align:center;
    background:url(https://petapixel.com/assets/uploads/2011/11/milky_mini4.jpg);
    color:gold;
    font-family:"megrim";
    font-size:25px;
}
button{
    color:cyan;
    font-size:20px;
    background:orchid;
    border:ridge darkorchid 5px;
}
#message{
    font-family:"akronim";
    color:#4BF500;
}